<%- include('./plantillas/cabecera'); %>
<div class="container-fluid">
<div class="row">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre de Equipo</th>
      </tr>
    </thead>
    <tbody>
        <% if (arrayequipos.length > 0) { %>
            <% arrayequipos.forEach(equipo => { %>
                <tr>
                    <th scope="row"><%= equipo.id_equipo %> </th>
                    <td><%= equipo.nombre_equipo %></td>
                </tr>
            <% }) %>
        <% } %>
    </tbody>
  </table>
</div>
</div>
<%- include('./plantillas/pie'); %>
