<%- include('./plantillas/cabecera'); %>  
<main class="container">
    <div class="jumbotron">
     <h2>Integrantes:</h2>
        <h3>Alexander Mendez</h3>
        <h3>Aaron Rosales</h3>
        <h3>Jose Barrios</h3>
    </div>
  </main>
  
<%- include('./plantillas/pie'); %>