<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campeonato de Robotica</title>
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos para plantillas -->
    <link href="css/dashboard.css" rel="stylesheet">
</head>
<body>
       <%- include("barranav") %>